on:
  push:
    branches:
      - main
  pull_request:
name: Run Spanner tests against an in-mem mock server
jobs:
  mock-server-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install nox
        run: python -m pip install nox
      - name: Run mock server tests
        run: nox -s mockserver
