on:
  push:
    branches:
      - main
  pull_request:
name: Presubmit checks
permissions:
  contents: read
  pull-requests: write
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install nox
        run: python -m pip install nox
      - name: Check formatting
        run: nox -s lint
  units:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{matrix.python}}
      - name: Install nox
        run: python -m pip install nox
      - name: Run unit tests
        run: nox -s unit-${{matrix.python}}
